body{
	background-color: black;
	color: white;
	margin:0px;
	text-align:center;
	vertical-align:top;
	font-family: 'GT Walsheim', sans-serif;
    font-weight: bold;
}
.tg{
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	height: 100vh;
}
.tg td{
	padding:10px 5px;
	//border-style:solid;
	//border-width:1px;
	overflow:hidden;
	word-break:normal;
	width: 12.5%;
}
#clock{
	font-size: 75px;
	display: none;
}
#jokes,#news{
	font-size: 20px;
}
#news-sub{
	font-size:17px;
}
#words{
	font-size: 19px;
}
#weather{
	display: none;
}